{%extends 'Base.html'%}

{%block title%}Posts{%endblock%}
{%block body%}
<hr>
<form action='\Posts' method='POST'>
  Title   : <input type="text" name="title" id="title"></input>
  Content :<input type="text" name="content" id="content"></input>
  Author  : <input type="text" name="author" id="author"></input>
  <input type='Submit' id='submit' name ='Submit'>
  <br><br>------------------------------------------------------------<br><br>

</form>
</hr>

    {%for i in posts%}  
        <h2>Title: {{i.title}}<br></h2>
        <h3>Content: {{i.content}}<br></h3>
        <h4>Created By: {{i.author}}<br></h4>
        <h5>Dated : {{i.date_post}}</h5>
        ---------------------------------------<br>
    {%endfor%}
{%endblock%}
